@charset "utf-8";
/* CSS Document */

body {
	background-color:#ffedbd;
	padding: 10px;
	border: double;
	font-family:Georgia;
	padding-bottom: 0px;
}

h1 {
	margin: 0px;
}

#header {
	background-color:#FFFFFF;
	padding: 10px;
	border:double;
	color:#000;
}

a:hover {
	color:#F00;
}

#hiddenimage{
}

.hiddenimg{
	display:none;
}

.hiddentxt{
	font-weight:bold;
	color:#F00;
}

.hiddentxt a{
	color:#F00;
	text-decoration:none;
}

.hiddentxt:hover ~ .hiddenimg{
	display:block;
}
