/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Marley's CSS beigns */

h1 {
    font-size: 32pt;
    padding-top: 20px;
    padding-bottom: 10px;
    font-weight: bold;
}

h2 {
    font-size: 18pt;
    font-weight: 600;
    font-style: italic;
    padding-top: 20px;
    padding-bottom: 10px;
}

h3 {
    font-size: 16pt;
    font-weight: 500;
    font-style: italic;
    padding-top: 20px;
    padding-bottom: 10px;
}

p {
    padding-top: 10px;
    padding-bottom: 10px;
}

#returnHome {
    position: fixed;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
    background: black;
    color: white;
    vertical-align: middle;
    padding: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 0px;
}

#returnHome2 {
    padding: 10px;
    opacity: 0%;
}

#returnHome a {
    color: white;
    text-decoration: none;
    font-size: 30px;
}

#bodywrap {
    width: 90%;
    margin: 0 auto;
}

.blog {
    border-radius: 10px;
    text-decoration: none;
    color: black;
    background: #F0F0F0;
    margin-top: 10px;
    margin-bottom: 20px;
    padding-left: 10px;
    /* padding-top: 10px; */
    padding-right: 10px;
    /* padding-bottom: 10px; */
}

/* .blog h2 {
    margin-left: 0px;
    margin-bottom: 10px;
} */

figcaption {
    padding-top: 10px;
    padding-bottom: 10px;
    font-style: italic;
    font-size: 90%;
    text-align: center;
    line-height: 1.2;
}

.fourfigs img {
    width: 49%;
}

.threefigs img {
    width: 32%;
}

.twofigs img {
    width: 49%;
}

.blog a {
    text-decoration: none;
    color: black;
}

img {
    padding-top: 10px;
    padding-bottom: 10px;
}

.blog img {
    width: 100%;
    /* margin-bottom: 0px; */
}

.blog figure {
    text-align: center;
}

ul {
    list-style: square;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

li {
    padding-top: 2.5px;
    padding-bottom: 2.5px;
}

em {
    font-style: italic;
}

.w49 {
    max-width: 49%;
}

.chart {
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

body {
    font-family: sans-serif;
    font-size: 13pt;
    color: black;
    background-color: white;
    line-height: 1.6;
    padding-bottom: 20px;
}

#title {
    display: block;
    font-size: 20pt;
    /* font-weight: 600; */
    /* font-style: italic; */
    padding-top: 20px;
    padding-bottom: 10px;
}

#date {
    display: block;
    font-style: italic;
    padding-top: 10px;
    padding-bottom: 10px;
    /* padding-bottom: 20px; */
}

#contents {
    background: #EFEFEF;
    /*float: left;*/
    border-color: #000000;
    border-width: 1px;
    border-style: solid;
    padding: 10px;
    /* padding-left: 40px; */
    /* margin-right: 20px; */
    margin-bottom: 20px;
    margin-top: 20px;
    width: 100%;
    /* display: block; */
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    scroll-margin-top: 47px;
}

code,
var {
    font-family: 'Courier New', Courier, monospace;
}

canvas {
    display: block;
    /* position: absolute; 
    left: 0;
    top: 0; */
}

footer {
    background: black;
    color: white;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 40px;
    margin-top: 10px;
}

ol {
    list-style-position: outside;
    list-style-type: decimal;
    padding-left: 1.4em;
}

li>ol {
    /* margin-left: 10px; */
}



@media screen and (min-width: 650px) {
    #bodywrap {
        width: 600px;
        margin: 0 auto;
    }

    #contents {
        width: 50%;
        margin-right: 20px;
    }

    .fourfigs img {
        width: 24%;
    }

    footer {
        padding-bottom: 10px;
    }
}

@media (prefers-color-scheme: dark) {
    .blog {
        color: white;
        background: rgb(50, 50, 50);
    }

    a {
        color: rgb(114, 202, 236);
    }

    a:visited {
        color: #FF6CFF;
    }

    a:not([href]) {
        color: #ff6c6c;
    }

    .blog a {
        color: white;
    }

    .blog a:visited {
        color: white;
    }

    body {
        background: rgb(30, 30, 30);
        color: white;
    }

    #contents {
        background: #333333;
        border-color: #FFFFFF;
    }
}
