@charset "utf-8";
/* CSS Document */

body {
	background-color:#ffedbd;
}

#header {
	background-color:#FFFFFF;
	padding: 10px;
}



p {
	padding-left: 10px;
	padding-bottom:2px;
}

p:hover {
	background-color:#FFF;
}

a:hover {
	color:#F00;
}