* {
	cursor: url("cursor.png"), pointer;
}

header {
	/*background-color: #555;*/
	background-color: #74A6E7;
	position: fixed;
	width: 100%;
	height: 110px;
	top: 0;
	left: 0;
	padding: 5px;
}

body {
	/*background-color: #333333;*/
	background-color: #9cc2f4;
	color: #FFF;
	font-family: Georgia, serif;
}

a {
	color: #FFFFFF;
}

a:hover {
	color: red;
}

.title:before {
	display: block;
	content: " ";
	margin-top: -126px;
	height: 110px;
	visibility: hidden;
}

#navigate{
	width: 200px;
	float: left;
	position: fixed;
	/*background-color: #555;*/
	background-color: #74A6E7;
	left: 0px;
}

#main {
	position: static;
	padding-left: 210px;
	/*float: right;*/
	margin-top: 130px;
	width: 55%;
}

pre {
	color: black;
	background-color: white;
	padding: 5px;
}
